<div>
    <p>Threads</p>
    <a ui-sref="Login" ng-hide="username">Login</a>
    <a ui-sref="Logout" ng-show="username">Logout</a>
    <br><br><br>
    <form name="newThreadForm">
        <input type="text" ng-model="newThreadTitle" placeholder="New thread title..." required>
        <input type="email" ng-model="username.password.email" placeholder="Email..." required>
        <button ng-disabled="newThreadForm.$invalid" ng-click="createThread(username, newThreadTitle)">Add Thread</button>
    </form>

    <ul>
        <li ng-repeat="thread in threads">
            <a ui-sref="OneThread({threadId: thread.$id})">
                <span>{{ thread.title }}</span>
                <span>(by {{ thread.username.password.email }})</span>
            </a>
        </li>
    </ul>

</div>